In [3]:
import os
import pandas as pd

purchase_data = os.path.join(os.getcwd(),'Resources','purchase_data.csv') 

purchase_data_df = pd.read_csv(purchase_data)

In [23]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [14]:
unique_names = purchase_data_df['SN'].unique()

In [36]:
total_players = {'':[''],
                'Total Players': [len(unique_names)]}

total_players_df = pd.DataFrame(total_players, columns= ['','Total Players'])

In [37]:
total_players_df

     Total Players
0              576

In [50]:
unique_item_id = purchase_data_df['Item ID'].unique()
average_price = purchase_data_df['Price'].mean()
total_purchases = len(purchase_data_df['Purchase ID'])
total_revenue = purchase_data_df['Price'].sum()
# total_revenue = print(f'${total_revenue}')

In [51]:
purchasing_analysis = {
    '':[''],
    'Number of Unique Items': [len(unique_item_id)],
    'Average Price': [average_price],
    'Number of Purchases': [total_purchases],
    'Total Revenue': [total_revenue]
                        }

In [52]:
purchasing_analysis_df = pd.DataFrame(purchasing_analysis, columns= ['','Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])

In [53]:
purchasing_analysis_df

     Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                       179       3.050987                  780        2379.77