In [1]:
import os
import pandas as pd

purchase_data = os.path.join(os.getcwd(),'Resources','purchase_data.csv') 

purchase_data_df = pd.read_csv(purchase_data)

In [2]:
unique_names = purchase_data_df['SN'].unique()

In [3]:
total_players = {'Total Players': [len(unique_names)]}

total_players_df = pd.DataFrame(total_players, columns= ['Total Players'])

In [4]:
total_players_df

   Total Players
0            576

In [5]:
unique_item_id = purchase_data_df['Item ID'].unique()
average_price = purchase_data_df['Price'].mean()
average_price = round(average_price,2)
average_price = (f'${average_price}')
total_purchases = len(purchase_data_df['Purchase ID'])
total_revenue = purchase_data_df['Price'].sum()
total_revenue = (f'${total_revenue}')

In [6]:
purchasing_analysis = {
    'Number of Unique Items': [len(unique_item_id)],
    'Average Price': [average_price],
    'Number of Purchases': [total_purchases],
    'Total Revenue': [total_revenue]
                        }

In [7]:
purchasing_analysis_df = pd.DataFrame(purchasing_analysis, columns= ['Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])

In [8]:
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [9]:
gender_list_df = purchase_data_df.drop_duplicates(subset=['SN'])

In [10]:
total_count = len(gender_list_df)
male_count = len(gender_list_df.loc[gender_list_df['Gender'] == 'Male'])

In [11]:
percent_male = round((male_count / total_count) * 100, 2)
percent_male = (f'{percent_male}%')

In [12]:
female_count = len(gender_list_df.loc[gender_list_df['Gender'] == 'Female'])

In [13]:
percent_female = round((female_count / total_count) * 100, 2)
percent_female = (f'{percent_female}%')

In [14]:
non_binary_count = len(gender_list_df.loc[gender_list_df['Gender'] == 'Other / Non-Disclosed'])

In [15]:
percent_nb = round((non_binary_count / total_count) * 100, 2)
percent_nb = (f'{percent_nb}%')

In [16]:
gender_demographics = {
    '': ['Male','Female','Other / Non-Disclosed'],
    'Total Count': [male_count, female_count, non_binary_count],
    'Percentage of Players': [percent_male, percent_female, percent_nb]
}

In [17]:
gender_demographics_df = pd.DataFrame(gender_demographics, columns=['', 'Total Count', 'Percentage of Players'])

In [18]:
gender_demographics_df = gender_demographics_df.style.hide_index()

In [19]:
gender_demographics_df

In [21]:
total_male_purchases = len(purchase_data_df.loc[purchase_data_df['Gender'] == 'Male'])

In [22]:
total_female_purchases = len(purchase_data_df.loc[purchase_data_df['Gender'] == 'Female'])

In [24]:
total_nb_purchases = len(purchase_data_df.loc[purchase_data_df['Gender'] == 'Other / Non-Disclosed'])

In [25]:
average_male_purchase_price = round(purchase_data_df.loc[purchase_data_df['Gender'] == 'Male'].mean(),2)

In [26]:
average_male_purchase_price = average_male_purchase_price['Price']

In [27]:
average_male_purchase_price = (f"${average_male_purchase_price}")

In [28]:
average_female_purchase_price = round(purchase_data_df.loc[purchase_data_df['Gender'] == 'Female'].mean(),2)

In [29]:
average_female_purchase_price = average_female_purchase_price['Price']

In [30]:
average_female_purchase_price = (f"${average_female_purchase_price}")

In [31]:
average_nb_purchase_price = round(purchase_data_df.loc[purchase_data_df['Gender'] == 'Other / Non-Disclosed'].mean(),2)

In [32]:
average_nb_purchase_price = average_nb_purchase_price['Price']

In [33]:
average_nb_purchase_price = (f"${average_nb_purchase_price}")

In [34]:
sum_male_purchases = purchase_data_df.loc[purchase_data_df['Gender'] == 'Male'].sum()

In [35]:
sum_male_purchases = sum_male_purchases['Price']

In [36]:
sum_of_purchases_male = (f"${sum_male_purchases}")

In [37]:
sum_female_purchases = purchase_data_df.loc[purchase_data_df['Gender'] == 'Female'].sum()
sum_female_purchases = sum_female_purchases['Price']
sum_of_purchases_female = (f"${sum_female_purchases}")

In [38]:
sum_nb_purchases = purchase_data_df.loc[purchase_data_df['Gender'] == 'Other / Non-Disclosed'].sum()
sum_nb_purchases = sum_nb_purchases['Price']
sum_of_purchases_nb = (f"${sum_nb_purchases}")

In [39]:
average_total_male_purchase = round(sum_male_purchases / male_count,2)
average_total_male_purchase = (f"${average_total_male_purchase}")

In [40]:
average_total_female_purchase = round(sum_female_purchases / female_count,2)
average_total_female_purchase = (f"${average_total_female_purchase}")

In [41]:
average_total_nb_purchase = round(sum_nb_purchases / non_binary_count ,2)
average_total_nb_purchase = (f"${average_total_nb_purchase}")

In [42]:
purchasing_analysis_gender = {
    'Gender': ['Female','Male','Other / Non-Disclosed'],
    'Purchase Count': [total_female_purchases, total_male_purchases, total_nb_purchases],
    'Average Purchase Price': [average_female_purchase_price, average_male_purchase_price, average_nb_purchase_price],
    'Total Purchase Value': [sum_of_purchases_female, sum_of_purchases_male, sum_of_purchases_nb],
    'Avg Total Purchase per Person' : [average_total_female_purchase, average_total_male_purchase, average_total_nb_purchase]
}

In [43]:
purchasing_analysis_gender_df = pd.DataFrame(purchasing_analysis_gender, columns=['Gender', 'Purchase Count', 'Average Purchase Price','Total Purchase Value', 'Avg Total Purchase per Person' ])

In [44]:
purchasing_analysis_gender_df = purchasing_analysis_gender_df.set_index('Gender')

In [45]:
purchasing_analysis_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [46]:
bins = [0,9,14,19,24,29,34,39,45]

group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [47]:
age_list_df = pd.DataFrame(gender_list_df['Age'])

In [48]:
age_list_df['Age Ranges'] = pd.cut(age_list_df['Age'],bins,labels=group_names,include_lowest = True)

In [49]:
age_list_df2 = age_list_df.groupby(['Age Ranges'])

In [50]:
age_list_df4 = pd.DataFrame(age_list_df2.count())

In [51]:
total_individuals_in_age_group = age_list_df2.count()

In [52]:
age_list_df3 = pd.DataFrame.round(((total_individuals_in_age_group/len(age_list_df))*100),2)

In [53]:
age_list_final = pd.merge(age_list_df4,age_list_df3, on='Age Ranges')

In [54]:
age_list_final2 = age_list_final.rename(columns={
    'Age_x': 'Total Count', 'Age_y': 'Percentage of Players'
})

In [55]:
age_list_final2['Percentage of Players'] = age_list_final2['Percentage of Players'].astype(str) + '%'

In [56]:
age_list_final2

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

In [57]:
columns_to_keep = ['Age','Price']

In [58]:
purchase_analysis_df = pd.DataFrame(purchase_data_df[columns_to_keep])

In [59]:
purchase_analysis_df['Age Ranges'] = pd.cut(purchase_analysis_df['Age'],bins, labels=group_names, include_lowest=False)

In [60]:
purchase_analysis_df2 = pd.DataFrame(purchase_analysis_df.groupby('Age Ranges')['Price'].mean())

In [61]:
purchase_analysis_df2['Price'] = round(purchase_analysis_df2['Price'],2)

In [62]:
purchase_analysis_df2 = '$' + purchase_analysis_df2['Price'].astype(str)

In [63]:
purchase_analysis_df4 = pd.DataFrame(purchase_analysis_df2)

In [64]:
purchase_analysis_df4 = purchase_analysis_df4.rename(columns={'Price':'Average Purchase Price'})

In [65]:
purchase_analysis_df3 = pd.DataFrame(purchase_analysis_df.groupby('Age Ranges')['Age'].count())

In [66]:
purchase_analysis_df3 = purchase_analysis_df3.rename(columns={'Age':'Purchase Count'})

In [67]:
purchase_analysis_df_final = pd.merge(purchase_analysis_df3, purchase_analysis_df4, on='Age Ranges')

In [68]:
purchase_analysis_df5 = pd.DataFrame(purchase_analysis_df.groupby('Age Ranges')['Price'].sum())

In [69]:
purchase_analysis_df5['Price'] = round(purchase_analysis_df5['Price'],2)

In [70]:
purchase_analysis_df5['Price'] = '$' + purchase_analysis_df5['Price'].astype(str)

In [71]:
purchase_analysis_df5 = purchase_analysis_df5.rename(columns={'Price': 'Total Purchase Value'})

In [72]:
purchase_analysis_df_final2 = pd.merge(purchase_analysis_df_final, purchase_analysis_df5, on='Age Ranges')

In [73]:
purchase_analysis_df_final2 = pd.DataFrame(purchase_analysis_df_final2)

In [74]:
purchase_analysis_df7 = pd.DataFrame(purchase_analysis_df.groupby('Age Ranges')['Price'].sum())

In [75]:
purchase_analysis_df7['Price'] = purchase_analysis_df7['Price']/ age_list_final2['Total Count']

In [76]:
purchase_analysis_df7['Price'] = round(purchase_analysis_df7['Price'],2)

In [77]:
purchase_analysis_df7 = purchase_analysis_df7.rename(columns={'Price': "Avg Total Purchase per Person"})

In [78]:
purchase_analysis_df7['Avg Total Purchase per Person'] = '$' + purchase_analysis_df7['Avg Total Purchase per Person'].astype(str)

In [79]:
purchase_analysis_df_final3 = pd.merge(purchase_analysis_df_final2, purchase_analysis_df7, on='Age Ranges')

In [80]:
purchase_analysis_df_final3

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [81]:
spender_analysis = pd.DataFrame(purchase_data_df['SN'].value_counts())

In [82]:
spender_analysis2 = purchase_data_df.groupby(['SN'])

In [83]:
spender_analysis3 = spender_analysis2.count()

In [84]:
keep_columns = ['Age']
spender_analysis4 = pd.DataFrame(spender_analysis3[keep_columns])

In [85]:
spender_analysis5 = spender_analysis2.sum()

In [86]:
keep_columns2 = ['Price']
spender_analysis6 = pd.DataFrame(spender_analysis5[keep_columns2])

In [87]:
average_purchase_price = spender_analysis6['Price'] / spender_analysis4['Age']

In [88]:
average_purchase_price = round(average_purchase_price, 2)

In [89]:
spender_analysis6['Average Purchase Price'] = average_purchase_price

In [90]:
spender_analysis7 = pd.merge(spender_analysis6, spender_analysis4, on='SN')

In [91]:
spender_analysis7 = spender_analysis7.rename(columns={'Price':'Total Purchase Value', 'Age':'Purchase Count'})

In [92]:
spender_analysis8 = spender_analysis7.sort_values('Total Purchase Value', ascending=False)

In [93]:
spender_analysis8['Total Purchase Value'] = round(spender_analysis8['Total Purchase Value'],2)

In [94]:
spender_analysis8['Total Purchase Value'] = '$'+ spender_analysis8['Total Purchase Value'].astype(str)

In [95]:
spender_analysis8['Average Purchase Price'] = '$'+ spender_analysis8['Average Purchase Price'].astype(str)

In [96]:
keep_columns3 = ['Purchase Count','Average Purchase Price','Total Purchase Value']
spender_analysis_final = pd.DataFrame(spender_analysis8[keep_columns3])

In [97]:
spender_analysis_final.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                   $3.4               $13.62
Iskadarya95               3                  $4.37                $13.1

In [98]:
keep_columns4 = ['Item ID', 'Item Name', 'Price']
popular_analysis = pd.DataFrame(purchase_data_df[keep_columns4])

In [99]:
popular_analysis2 = pd.DataFrame(popular_analysis.groupby(['Item ID','Item Name'])['Price'].sum())

In [100]:
popular_analysis2 = popular_analysis2.rename(columns={
    'Price': 'Total Purchase Value'
})

In [101]:
popular_analysis3 = pd.DataFrame(popular_analysis.groupby(['Item ID','Item Name'])['Price'].count())

In [102]:
popular_analysis3 = popular_analysis3.rename(columns={
    'Price': 'Purchase Count'
})

In [103]:
popular_analysis4 = pd.merge(popular_analysis3, popular_analysis2, on=['Item ID','Item Name'])

In [104]:
popular_analysis5 = popular_analysis4.sort_values(['Purchase Count'], ascending=False)

In [105]:
popular_analysis5['Total Purchase Value'] = round(popular_analysis5['Total Purchase Value'],2)

In [106]:
popular_analysis5['Item Price'] = popular_analysis5['Total Purchase Value'] / popular_analysis5['Purchase Count']

In [107]:
popular_analysis5['Total Purchase Value'] = '$' + popular_analysis5['Total Purchase Value'].astype(str)

In [108]:
popular_analysis5['Item Price'] = round(popular_analysis5['Item Price'],2)

In [109]:
popular_analysis5['Item Price'] = '$' + popular_analysis5['Item Price'].astype(str)

In [110]:
keep_columns5 = ['Purchase Count','Item Price','Total Purchase Value']
popular_analysis_final = pd.DataFrame(popular_analysis5[keep_columns5])

In [111]:
popular_analysis_final.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [112]:
profitable_analysis = popular_analysis4.sort_values(['Total Purchase Value'], ascending=False)

In [113]:
profitable_analysis['Total Purchase Value'] = round(profitable_analysis['Total Purchase Value'],2)

In [114]:
profitable_analysis['Item Price'] = profitable_analysis['Total Purchase Value'] / profitable_analysis['Purchase Count']

In [115]:
profitable_analysis['Total Purchase Value'] = '$' + profitable_analysis['Total Purchase Value'].astype(str)

In [116]:
profitable_analysis['Item Price'] = round(profitable_analysis['Item Price'],2)

In [117]:
profitable_analysis['Item Price'] = '$' + profitable_analysis['Item Price'].astype(str)

In [118]:
keep_columns6 = ['Purchase Count','Item Price','Total Purchase Value']
profitable_analysis_final = pd.DataFrame(profitable_analysis[keep_columns6])

In [119]:
profitable_analysis_final.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.9,$44.1
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.8