In [1]:
import os
import pandas as pd

purchase_data = os.path.join(os.getcwd(),'Resources','purchase_data.csv') 

purchase_data_df = pd.read_csv(purchase_data)

In [2]:
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
unique_names = purchase_data_df['SN'].unique()

In [4]:
total_players = {'':[''],
                'Total Players': [len(unique_names)]}

total_players_df = pd.DataFrame(total_players, columns= ['','Total Players'])

In [5]:
total_players_df

     Total Players
0              576

In [6]:
unique_item_id = purchase_data_df['Item ID'].unique()
average_price = purchase_data_df['Price'].mean()
average_price = round(average_price,2)
average_price = (f'${average_price}')
total_purchases = len(purchase_data_df['Purchase ID'])
total_revenue = purchase_data_df['Price'].sum()
total_revenue = (f'${total_revenue}')

In [7]:
purchasing_analysis = {
    '':[''],
    'Number of Unique Items': [len(unique_item_id)],
    'Average Price': [average_price],
    'Number of Purchases': [total_purchases],
    'Total Revenue': [total_revenue]
                        }

In [8]:
purchasing_analysis_df = pd.DataFrame(purchasing_analysis, columns= ['','Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])

In [9]:
purchasing_analysis_df

     Number of Unique Items Average Price  Number of Purchases Total Revenue
0                       179         $3.05                  780      $2379.77

In [10]:
gender_list_df = purchase_data_df.drop_duplicates(subset=['SN'])

In [11]:
total_count = len(gender_list_df)
male_count = len(gender_list_df.loc[gender_list_df['Gender'] == 'Male'])

In [12]:
percent_male = round((male_count / total_count) * 100, 2)
percent_male = (f'{percent_male}%')

In [13]:
female_count = len(gender_list_df.loc[gender_list_df['Gender'] == 'Female'])

In [14]:
percent_female = round((female_count / total_count) * 100, 2)
percent_female = (f'{percent_female}%')

In [15]:
non_binary_count = len(gender_list_df.loc[gender_list_df['Gender'] == 'Other / Non-Disclosed'])

In [16]:
percent_nb = round((non_binary_count / total_count) * 100, 2)
percent_nb = (f'{percent_nb}%')

In [17]:
gender_demographics = {
    '': ['Male','Female','Other / Non-Disclosed'],
    'Total Count': [male_count, female_count, non_binary_count],
    'Percentage of Players': [percent_male, percent_female, percent_nb]
}

In [18]:
gender_demographics_df = pd.DataFrame(gender_demographics, columns=['', 'Total Count', 'Percentage of Players'])

In [19]:
gender_demographics_df

                          Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%

In [20]:
total_male_purchases = len(purchase_data_df.loc[purchase_data_df['Gender'] == 'Male'])

In [21]:
total_female_purchases = len(purchase_data_df.loc[purchase_data_df['Gender'] == 'Female'])

In [22]:
total_nb_purchases = len(gender_list_df.loc[gender_list_df['Gender'] == 'Other / Non-Disclosed'])

In [23]:
average_male_purchase_price = round(purchase_data_df.loc[purchase_data_df['Gender'] == 'Male'].mean(),2)

In [24]:
average_male_purchase_price = average_male_purchase_price['Price']

In [25]:
average_male_purchase_price = (f"${average_male_purchase_price}")

In [26]:
average_female_purchase_price = round(purchase_data_df.loc[purchase_data_df['Gender'] == 'Female'].mean(),2)

In [27]:
average_female_purchase_price = average_female_purchase_price['Price']

In [28]:
average_female_purchase_price = (f"${average_female_purchase_price}")

In [29]:
average_nb_purchase_price = round(purchase_data_df.loc[purchase_data_df['Gender'] == 'Other / Non-Disclosed'].mean(),2)

In [30]:
average_nb_purchase_price = average_nb_purchase_price['Price']

In [31]:
average_nb_purchase_price = (f"${average_nb_purchase_price}")

In [32]:
sum_male_purchases = purchase_data_df.loc[purchase_data_df['Gender'] == 'Male'].sum()

In [33]:
sum_male_purchases = sum_male_purchases['Price']

In [35]:
sum_of_purchases_male = (f"${sum_male_purchases}")

In [36]:
sum_female_purchases = purchase_data_df.loc[purchase_data_df['Gender'] == 'Female'].sum()
sum_female_purchases = sum_female_purchases['Price']
sum_of_purchases_female = (f"${sum_female_purchases}")

In [38]:
sum_nb_purchases = purchase_data_df.loc[purchase_data_df['Gender'] == 'Other / Non-Disclosed'].sum()
sum_nb_purchases = sum_nb_purchases['Price']
sum_of_purchases_nb = (f"${sum_nb_purchases}")

In [47]:
average_total_male_purchase = round(sum_male_purchases / male_count,2)
average_total_male_purchase = (f"${average_total_male_purchase}")

In [48]:
average_total_female_purchase = round(sum_female_purchases / female_count,2)
average_total_female_purchase = (f"${average_total_female_purchase}")

In [49]:
average_total_nb_purchase = round(sum_nb_purchases / non_binary_count ,2)
average_total_nb_purchase = (f"${average_total_nb_purchase}")

In [50]:
purchasing_analysis_gender = {
    'Gender': ['Female','Male','Other / Non-Disclosed'],
    'Purchase Count': [total_female_purchases, total_male_purchases, total_nb_purchases],
    'Average Purchase Price': [average_female_purchase_price, average_male_purchase_price, average_nb_purchase_price],
    'Total Purchase Value': [sum_of_purchases_female, sum_of_purchases_male, sum_of_purchases_nb],
    'Avg Total Purchase per Person' : [average_total_female_purchase, average_total_male_purchase, average_total_nb_purchase]
}

In [52]:
purchasing_analysis_gender_df = pd.DataFrame(purchasing_analysis_gender, columns=['Gender', 'Purchase Count', 'Average Purchase Price','Total Purchase Value', 'Avg Total Purchase per Person' ])

In [53]:
purchasing_analysis_gender_df_group = purchasing_analysis_gender_df.groupby(['Gender'])